# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
examples/node_modules
examples/.pnp
examples/.pnp.js

# testing
examples/coverage

# production
examples/build

# misc
examples/.DS_Store
examples/.env.local
examples/.env.development.local
examples/.env.test.local
examples/.env.production.local

examples/npm-debug.log*
examples/yarn-debug.log*
examples/yarn-error.log*


# dependencies
myapp/node_modules
myapp/.pnp
myapp/.pnp.js

# testing
myapp/coverage

# production
myapp/build

# misc
myapp/.DS_Store
myapp/.env.local
myapp/.env.development.local
myapp/.env.test.local
myapp/.env.production.local

myapp/npm-debug.log*
myapp/yarn-debug.log*
myapp/yarn-error.log*	
